
.button {
  border: none;
  position: relative;
  left: 110px;
  top: -111px;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


.button1 {
    background-color: black;
}

.button2 {
    background-color: black;
}

.button3 {
    background-color: black;
}

.button4 {
    background-color: black;
}

p1 {
    position: fixed;
    top: 25px;
    left: 1150px;
    color: black;
}

#img1 {
    position: fixed;
    width: 75px;
    top: 2px;
    left: 25px;
}

#img2 {
    position: relative;
    width: 450px;
    top: 220px;
    left: -300px;
}

#vid1 {
    position: relative;
    border-radius: 15px;
    width: 500px;
    top: 25px;
    left: 650px;
}